h2 {
  margin-bottom: 2rem;
  margin-top: 3rem
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.jumbotron {
  background-image: url("img/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  color: #fff;
  padding: 0px;
}
.dark-screen{
  height: 100%;
  background-color: RGBA(0,0,0,0.5);
}

.display-4{
  padding-top: 10%;
}
